* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    height: 100vh;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #eee;
    position: relative;
}

main {
    background-color: #fff;
    padding: 0 20px 20px;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.questions {
    line-height: 1.2;
    height: 50px;
    margin-top: 20px;
    padding: 15px;
    border-left: 8px solid green;
    background-color: #f8fffe;
    display: flex;
    align-items: center;
}
